<html lang="en">
  <head>
    <%- include('../components/header.ejs',{title:'Supervisor Dashboard '})%>
  </head>
  <body>
    <%- include('../components/navbar.ejs') %>

    <div class="container-fluid col-10">
      <div class="row mt-4 px-5 trip">
        <div class="my-3 px-3 d-grid accordion" id="trip">
          <div class="row accordion-item">
            <div class="accordion-body col-md-7 col-10">
              <h5 class="title route">Kandy - Colombo</h5>
              <p class="body-text capacity">Capacity: 90/100kg</p>
              <p class="body-text date">Date: 22/02/2022</p>
              <p class="body-text journey-start">
                Journey Start: Kandy 10.00 a.m
              </p>
              <p class="body-text journey-end">Journey End: Colombo 6.00 p.m</p>
            </div>
            <div
              class="buttons col-md-5 col-10 d-flex align-items-end justify-content-end"
            >
              <button
                type="button"
                class="btn btn-outline-dark m-2 collapsed"
                data-bs-toggle="collapse"
                data-bs-target="#products"
                aria-expanded="false"
                aria-controls="products"
              >
                View Products
              </button>
              <a href="#" class="btn btn-outline-danger m-2">Confirm</a>
            </div>
            <div
              id="products"
              class="accordion-collapse collapse"
              aria-labelledby="products-details"
              data-bs-parent="#trip"
            >
              <div class="accordion-body">
                <table class="table table-striped table-hover products-details">
                  <thead>
                    <tr>
                      <th scope="col">Date</th>
                      <th scope="col">Dispatch Location</th>
                      <th scope="col">Related Store</th>
                      <th scope="col">Order Date</th>
                      <th scope="col">Weight</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>22/02/2022</td>
                      <td>Temple Road, colombo</td>
                      <td>colombo</td>
                      <td>01/03/2022</td>
                      <td>50kg</td>
                    </tr>
                    <tr>
                      <td>22/02/2022</td>
                      <td>Temple Road, colombo</td>
                      <td>colombo</td>
                      <td>01/03/2022</td>
                      <td>50kg</td>
                    </tr>
                    <tr>
                      <td>22/02/2022</td>
                      <td>Temple Road, colombo</td>
                      <td>colombo</td>
                      <td>01/03/2022</td>
                      <td>50kg</td>
                    </tr>
                    <tr>
                      <td>22/02/2022</td>
                      <td>Temple Road, colombo</td>
                      <td>colombo</td>
                      <td>01/03/2022</td>
                      <td>50kg</td>
                    </tr>
                    <tr>
                      <td>22/02/2022</td>
                      <td>Temple Road, colombo</td>
                      <td>colombo</td>
                      <td>01/03/2022</td>
                      <td>50kg</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <%- include('../components/js-scripts.ejs') %>
  </body>
</html>
