<html lang="en">
  <head>
    <%- include('../components/header.ejs',{title:'Page title'})%>
  </head>
  <body>
    <%- include('../components/navbar.ejs') %>

    <div class="container-fluid col-10">
      <!-- content goes here... -->
    </div>
    <%- include('../components/js-scripts.ejs') %>
  </body>
</html>
