<html lang="en">
  <head>
    <%- include('../components/header.ejs',{title:'Login'})%>
    <style>
      .title {
        letter-spacing: 0.5rem;
      }
      .login.container-fluid {
        height: 100vh;
        /* background: url('./login-background.png');
             background-size: cover; */
      }
    </style>
  </head>
  <body class="bg-gray-300 =">
    <div
      class="min-height-300 bg-gradient-primary position-absolute w-100"
    ></div>
    <div class="login container-fluid d-flex align-items-center">
      <div
        class="login bg-gray-500 col-10 col-md-6 col-lg-4 card bg-light mx-auto px-md-4 px-1 py-4"
      >
        <div class="card-body">
          <h2 class="title text-center">LOGIN</h2>
          <form class="form text-center">
            <div class="form-floating mb-3">
              <input
                type="text"
                class="form-control username"
                name="username"
                placeholder="Username"
              />
              <label for="username" class="username-label">Username</label>
            </div>

            <div class="form-floating mb-3">
              <input
                type="password"
                class="form-control password"
                name="password"
                placeholder="Password"
              />
              <label for="password" class="password-label">Password</label>
            </div>

            <div class="invalid-feedback">
              <small class="error-msg text-danger">
                <i class="fa fa-exclamation-circle me-2 text-danger"></i>
                Authentication Error
              </small>
            </div>

            <div class="d-grid col-6 mx-auto text-center my-4">
              <button class="login btn btn-dark py-2 shadow-lg" type="button" onclick="handleLogin()">
                LOGIN
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>

    <%- include('../components/js-scripts.ejs') %>

  </body>
</html>
